div {
    width: 400px;
    height: 600px;
    border: 1px solid white;
    overflow-y: auto;
    float: left;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-family: BankGothic Lt Bt, serif;
    font-size: 50px;
}

#application {
    float: right;
    width: 1300px;
    margin-right: 100px;
    text-align: center;
}

#my_text {
    text-align: left; 
    margin-left: 10px;
    padding: 10px 20px;
    margin-right: auto;
    width: 300px;
    color: #4eb9d9;
}

#singularity_text {
    text-align: right;
    margin-right: 0;
    padding: 10px 20px;
    margin-left: auto;
    width: 300px;
    color: #68d448;
}

button {
    color: whitesmoke;
    background-color: crimson;
    border: solid red;
}
